.room-card {
    width: 320px;
    display: inline-block;
    vertical-align: top;
    /* padding: 16px; */
    /* margin: 16px; */
  }
  
  .room-card img {
    object-fit: cover;
    width: 320px;
    height: 300px;
    border-radius: 15px;
  }
  
  .room-card p {
    display: block;
    margin-top: 8px;
  }
  