.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 25px;
  /* box-sizing: border-box; */

  /* position: sticky;
  padding-top: 32px;
  top: -32px; */
}

.carousel__list {
  width: 98%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel__list-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-description {
  margin-top: 8px;
  font-size: 12px;
  filter: invert(40%);
  font-weight: bold;
}

.carousel__list-item {
  object-fit: contain;
  height: 25px;
  margin: 5px;
  filter: invert(40%);
}

.filter-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 20px;
  background-color: transparent;
  width: 80px;
}

.filter-logo {
  object-fit: contain;
  height: 12px;
}
